/*semantics!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.App1 {
    text-align: center;
    background-image: url("../pictures/Cover.jpg") ;
    background-size: cover;
    background-position:center;
    cursor:pointer;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    min-height: 100%;
      /* max-height: 100%; */
    width: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    display: inline;
  }
.CoverPage1{
    font-family: Georgia; 
    word-spacing: 7px;
    line-height: 1.6;
    font-size: 25px ;
    /* padding-top: 5%; */
    cursor:pointer;
    color:black;
    display: inline;
    
   
   }


   /* .Popups1{
    position: fixed;
    background-color: blue;
    align-items: center; 
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  } */


  .Icons{
    margin-right: 20px;
    padding: 0;
     display: inline;

  }
.LanguageDropdown{
  display: inline;
  position: absolute; 
  margin: 0;
  padding: 0;
  min-height: 10px;
  /* max-width:10px; */
  background-color: blue;
}
.GridLanguageDropdown{
  display: inline;
  min-height: 50%;
  margin: 0;
  padding: 0;
   max-width:10px;
  /* max-width:10px; */
  
}
.L{
  display: inline;
  position: fixed; 
  margin: 0;
  padding: 0;
  /* background-color: */
  /* top: 2%;
  left:10%; */
   /* display: inline; */
}
