.App {
  text-align: center;
  background-image: url("./components/pictures/Cover.jpg") ;
  background-size: cover;
  background-position:center;
  cursor:pointer;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
	max-height: 200%;
  width: 100%;
  position: absolute; 
  top: 0;
  left: 0;
}

.Popups{
  position: fixed;
  top: 50%;
  align-items: center; 
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.Buttons{
  width:250px;
  background-color:black;
  border:solid;
  color:white;
  /* font-family:cursive; */
  cursor:pointer;
  word-spacing: 7px;
  padding: 5px;
  
}

.CoverPage{
  font-family: Georgia; 
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  font-size: 15px ;
  cursor:pointer;
  max-width: 70%;
  max-height: 10%;
  color:black;
  /* text-shadow: 2px 2px 0 grey;  */
  position: fixed;
  top: 15%;
  left: 25%; 
  margin: 0 ;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
 }

/*------------------------------------------------------------------------------------------------------*/ 

.Email{
  background-color: #e6e6e6;
  color: black;
  cursor:pointer;
  border-radius: 8px;
  border:solid black;
  text-align: left;
  text-decoration: none ;
  padding: 7px;
  height: auto;
  top: 60%;
  position: fixed;
  margin: 0 ;
  left:25%;
  width: 42%;
}
.About{
  background-color: #e6e6e6;
  color: black;
  cursor:pointer;
  border-radius: 8px;
  border:solid black;
  text-align: left;
  text-decoration: none ;
  padding: 7px;
  height: auto;
  top: 60%;
  position: fixed;
  margin: 0 ;
}
.Skills{
  background-color: #e6e6e6;
  color: black;
  cursor:pointer;
  border-radius: 8px;
  border:solid black;
  text-align: left;
  text-decoration: none ;
  padding: 7px;
  height: auto;
  top: 60%;
  position: fixed;
  margin: 0 ;
  left: 25%;
}
/*-----------------------LOGOS----------------------------------------------*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
  position:fixed;
  max-width: 5%;
  max-height: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
    animation-direction: alternate-reverse;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
} 
/* ---------------------------------------------------------------------------- */
.Mail-logo {
  height: 40vmin;
  position:fixed;
  margin: 0;
  padding: 0;
  left: 88%;
  top:15%;
  max-width: 5%;
  max-height: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .Mail-logo{
    animation: App-logo-spin infinite 1s linear;
    animation-direction: alternate-reverse;
    
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
} 
/* ---------------------------------------------------------------------------- */
.Linkedin-logo {
  height: 40vmin;
  position:fixed;
  margin: 0;
  padding: 0;
  left: 88%;
  top:25%;
  max-width: 5%;
  max-height: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .Linkedin-logo{
    animation: App-logo-spin infinite 1s linear;
    animation-direction: alternate-reverse;
    
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
} 
/* ---------------------------------------------------------------------------- */
.Github-logo {
  height: 40vmin;
  position:fixed;
  margin: 0;
  padding: 0;
  left: 88%;
  top:35%;
  max-width: 5%;
  max-height: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .Github-logo{
    animation: App-logo-spin infinite 1s linear;
    animation-direction: alternate-reverse;
    
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
} 

 /*------------------------------------------------------------------------------------------------------*/ 
.Phone-logo{
  height: 40vmin;
  position:fixed;
  margin: 0;
  padding: 0;
  left: 88%;
  top:45%;
  max-width: 5%;
  max-height: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .Phone-logo{
    animation: App-logo-spin infinite 1s linear;
    animation-direction: alternate-reverse;
    
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
 /*------------------------------------------------------------------------------------------------------*/ 
 .Whatsapp-logo{
  height: 40vmin;
  position:fixed;
  margin: 0;
  padding: 0;
  left: 88%;
  top:55%;
  max-width: 5%;
  max-height: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .Whatsapp-logo{
    animation: App-logo-spin infinite 1s linear;
    animation-direction: alternate-reverse;
    
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
 /*------------------------------------------------------------------------------------------------------*/ 
 /*  */
 @media only screen and (min-width: 10px
 ) {  
  .CoverPage {
    font-size: 1px ;
    top:10%;
  }
  .Popups{
    top:45%;
  }
  .Mail-logo  {
    max-width: 2.5%;
    max-height: 2.5%;
    left: 92%;
  }
  .Github-logo{
    max-width: 2.5%;
    max-height: 2.5%;
    left: 92%;
  }
  .Linkedin-logo{
    max-width: 2.5%;
    max-height: 2.5%;
    left: 92%;
  }
  .Phone-logo{
    max-width: 2.5%;
    max-height: 2.5%;
    left: 92%;
  }
  .Whatsapp-logo{
    max-width: 2.5%;
    max-height: 2.5%;
    left: 92%;
  }
  .App-logo{
    max-width: 2%;
    max-height: 2%;
    margin-bottom: 20px;
    position: fixed;
  }
  .About{
    font-size: 10px;
    top: 65%;
    width: 300px;
    left:5%;
  }
  .Skills{
    font-size: 10px;
    top: 65%;
    width: 300px;
    left:5%;
  } .Email{
    font-size: 10px;
    top: 65%;
    width: 300px;
    left:5%;
  }
  .Buttons{
    width:100px;
  }
}
/* 750פס */
@media only screen and (max-device-height: 650px
) {  
 /* .CoverPage {
   font-size: 10px ;
   top:10%;
 } */
 .Popups{
   top:50%;
 }
 .Buttons{
  width:100px;
}
 .Mail-logo  {
   max-width: 2.5%;
   max-height: 2.5%;
 }
 .Github-logo{
   max-width: 2.5%;
   max-height: 2.5%;
 }
 .Linkedin-logo{
   max-width: 2.5%;
   max-height: 2.5%;
 }
 .Phone-logo{
   max-width: 2.5%;
   max-height: 2.5%;
 }.Whatsapp-logo{
   max-width: 2.5%;
   max-height: 2.5%;
 }
 .App-logo{
   max-width: 2%;
   max-height: 2%;
 }
 .About{
   font-size: 10px;
   top: 65%;
   width: 300px;
   left:5%;
 }
 .Skills{
   font-size: 10px;
   top: 65%;
   width: 300px;
   left:5%;
 } .Email{
   font-size: 10px;
   top: 65%;
   width: 300px;
   left:5%;
 }  .Buttons{
  width:100px;
}

}


/* @media (min-width: 200px) {  
  .CoverPage {
    font-size: 9px ;
    top:20%;
  }
  .Popups{
    top:60%;
  }
 
} */




/* I've found the best method is to write your default CSS for the older browsers, as older browsers including i.e. 5.5, 6, 7 and 8. Can't read @media. When I use @media I use it like this:

<style type="text/css">
    /* default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */
    /* @media only screen and (min-width: 960px) { */
        /* styles for browsers larger than 960px; */
    /* } */
    /* @media only screen and (min-width: 1440px) { */
        /* styles for browsers larger than 1440px; */
    /* } */
    /* @media only screen and (min-width: 2000px) { */
        /* for sumo sized (mac) screens */
    /* } */
    /* @media only screen and (max-device-width: 480px) { */
       /* styles for mobile browsers smaller than 480px; (iPhone) */
    /* } */
    /* @media only screen and (device-width: 768px) { */
       /* default iPad screens */
    /* } */
    /* different techniques for iPad screening */
    /* @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) { */
      /* For portrait layouts only */
    /* } */

    /* @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) { */
      /* For landscape layouts only */
    /* } */
/* </style> */ 